{% extends 'base.html' %}

{% block body_class %}error-404{%endblock %}

{% block content %}

  <div class="message-404">
    <h4 class="display-4">Page doesn't exist! {{ request.status }}</h4>
    <p class="m-3">
      <a href="/"><b>Return to the homepage</b></a>.</p>
    <div class="row">
      <div class="col-sm-12 ml-auto mr-auto">
        <form class="form-inline" action="/users">
          <input name="q" class="form-control mb-0 mr-2" placeholder="Search">
          <div>
          <button class="btn btn-info">Search</button>
        </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}